<p id="notice"><%= notice %></p>

<h1>Products under this category</h1>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<% Product.where(category_id: @category_id).each do |product| %>
  <li> <%= product.name %></li>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
