<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Raleway" rel="stylesheet">

  
</head>
<body class='<%= controller.controller_name %>'>
  
    <%= render 'layouts/navbar'%>

    <%= render 'layouts/sidebar'%>

    <%= render 'layouts/jumbotron'%>

  
    </div>
    
</div>

 <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--for spacing-->
      </div>
      <div class="col-md-10">

        </div>
      </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--for spacing-->
      </div>
      <div class="col-md-10">
         <%= yield %>
        </div>
      </div>
  </div>

  <%= render 'layouts/footer'%>

</body>
</html>
